{% extends 'base.html' %}

{% block content %}
  <div id="header">
    <div id="headerleft">
      <a id="t_holder" href="/"></a>
      <span class="headerlinks">
        <a href="/" class="cur_url">Tipster</a>
      </span>
    </div>

    <div class="clear"></div>
  </div>

  <div id="inside">
    <div id="buy">
      <h3>Buy 25 Upvotes</h3>
      <a class="coinbase-button" data-code="b5cb605b7d265926d329bdd9a000bbfe" data-button-style="custom_large" href="https://sandbox.coinbase.com/checkouts/b5cb605b7d265926d329bdd9a000bbfe">Buy 25 Upvotes</a>
    </div>
  </div>

  <script src="https://sandbox.coinbase.com/assets/button.js" type="text/javascript"></script>
{% endblock %}
