{% extends 'base.html' %}
{% load filters %}

{% block content %}
  <div id="header" class="animated fadeInDown">
    <div id="headerleft">
      <a id="t_holder" href="/"></a>
      <span class="headerlinks">
        <a href="/" class="cur_url">Tipster</a>
        <a href="/recent" >Recent</a>
        <a href="/comments" >Comments</a>
        <a href="/search" >Search</a>
      </span>
    </div>

    <div id="headerright">
      <span class="headerlinks">
      {% if user %}
        <a href="/u/{{ user.username }}">{{ user.username }}</a>
        <a href="/buy">
          <span class="upvote"></span>
          <div class="score">{{ profile.upvote_balance }}</div>
        </a>
      {% else %}
        <a href="/">Login</a>
      {% endif %}
      </span>
    </div>

    <div class="clear"></div>
  </div>

  <div id="inside" class="animated fadeInDown delay">
    <ol class="posts">
    {% for post in posts %}
      <li class="post">
        <div class="post_line">
          <div class="votes">
            <a class="upvote" data-id="{{ post.id }}" href="/upvote/{{ post.id }}?amount=100"></a>
            <div class="score">{{ post.value }}</div>
          </div>
          <div class="details">
            <span class="link">
              <a href="{{ post.link }}">{{ post.title }}</a>
            </span>
            <span class="domain">
              {{ post.link | domain }}
            </span>
            <div class="by">
              by
              <a href="/u/{{ post.curator.username }}">{{ post.curator.username }}</a>
              {{ post.created_at | ago }} ago |
              <a class="hide_button">hide</a> |
              <a>0 comments</a>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
    </ol>

  </div>
{% endblock %}
