{% extends 'base.html' %}

{% block content %}
  <div id="header">
    <div id="headerleft">
      <a id="t_holder" href="/"></a>
      <span class="headerlinks">
        <a href="/" class="cur_url">Tipster</a>
      </span>
    </div>

    <div id="headerright">
      <span class="headerlinks">
      <a href="/u/{{ user.username }}">{{ user.username }}</a>
      <a href="/buy">
        <span class="upvote"></span>
        <div class="score">{{ profile.upvote_balance }}</div>
      </a>
      </span>
    </div>

    <div class="clear"></div>
  </div>

  <div id="inside">
    <div id="profile">
      <h3>{{ profile.username }}</h3>
      {% if user == profile.user %}
      <a href="/"><button class="coinbase_login">Cash Out Upvotes</button></a>
      {% endif %}
    </div>
  </div>
{% endblock %}
